:root {
  --btn-bg-color: rgb(92, 0, 179);
}

.view-score {
  color: var(--btn-bg-color);
  text-decoration: none;
}
.content {
  max-width: 630px;
  margin: 45px auto;
  font-size: 18px;
}
.highscores {
  margin: 100px auto;
  font-size: 18px;
}

section {
  text-align: center;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
section p {
  line-height: 30px;
  font-size: 20px;
  margin-top: 20px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
ul {
  padding: 0;
  text-align: start;
}
li {
  max-width: 300px;
  text-align: center;
  margin: auto;
}
.custom-button {
  background-color: var(--btn-bg-color);
  border: none;
}
.custom-button:hover {
  background-color: var(--btn-bg-color);
  border: none;
  opacity: 0.8;
}

.game-over {
  margin-top: 10px;
}

.result {
  background-color: #deccf0;
  color: black;
  max-width: 300px;
}
.answer-result {
  text-align: center;
  color: gray;
  margin-top: 9px;
  font-style: italic;
  font-size: 20px;
}

@media (max-width: 550px) {
  .content {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  .custom-button {
    font-size: 85%;
  }
}
